<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<th:block layout:fragment="head-datatables">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs-3.3.6/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,sc-1.4.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs-3.3.6/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,sc-1.4.1/datatables.min.js"></script>

    <th:block layout:fragment="head-datatables-init">
        <script type="text/javascript" charset="UTF-8">
            $(document).ready(function() {
                $('#table_id').DataTable({
                    dom: 'Bfrtip',
                    buttons: [ 'colvis', 'copy', 'csv', 'excel', 'pdf', 'print'],
                    scrollX: true
                });
            });
        </script>
    </th:block>
</th:block>

</body>
</html>
